<!DOCTYPE html>
<html lang="es">

<head>
  <title>Proyecto Estadistica</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Moondev - El Salvador" />

  <!-- Bootstrap core CSS -->
  <link href="./assets/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
  <meta name="theme-color" content="#563d7c" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    iframe[seamless] {
    border: none;
}
  </style>
  <!-- Custom styles for this template -->
  <link href="./assets/bootstrap-4.4.1-dist/css/cover.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/5266c965a2.js" crossorigin="anonymous"></script>
  <!--jquery-->
  <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
</head>

<body class="text-center">
  <div class=" d-flex w-100 h-100 mx-auto flex-column">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
      <header class="cover-container masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Sistema Estadistico</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="index.php">Inicio</a>
            <a class="nav-link" href="operations.php">Operaciones</a>
          </nav>
        </div>
      </header>
    </div>
  